/*--slider--*/
.top-menu {
  float: center;
  margin: 0% 2% 0;
  width: 89%;
  text-align: center;
  margin-bottom: 10%; 
}
.top-menu ul{
	padding:0;
}
.top-menu ul li{
	display: inline-block;
	margin: 0 15px;
	color: #fff;
	font-weight: 900;
	vertical-align: top;
}
.top-menu nav a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1em;
}
.top-menu nav a:hover,
.top-menu nav a:focus {
	display: block;
	color: #f5f5f5;
}

.top-menu ul li a{
   text-decoration: none;
  color: #fff;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
}
.top-menu ul li a:hover,.top-menu ul li a.active{
	  color: #2980B9;
}